<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
		<style>
			@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900');
			button:hover {
				filter: hue-rotate(20deg) brightness(150%);
				transition: filter 0.7s;
			}
		</style>
	</head>
	<body style="background: #f5f8fa;font-family: 'Roboto', sans-serif;">
		<div class="d-flex flex-column justify-content-center" style="width: 90%;max-width:600px;margin: 20px auto;background: #ffffff; padding: 4rem; margin-top: 2rem; font-size: 1.3rem;">
				<h1 style="text-align: center;">Confirmation email</h1>
				<p style="text-align: center;">Hello! Thank you for registering on our website.</p>
				<p style="text-align: center;">Confirm your account on the link below:</p>
				<a href="{{link}}" style="text-align: center;">
					<button class="text-center" style="background-color: rgb(35, 35, 129); color: white; border: none; padding: 0.7rem; cursor: pointer; font-size: 1.3rem;">Verify your account</button>
				</a>
		</div>
	</body>
</html>