{% extends 'base.html' %}

{% block content %}
<div class="container-fluid mt-2">
    <div class="d-flex flex-column align-items-center w-100">
        <h1>My Animes List</h1>
        <div class="d-flex justify-content-between w-100  ">
            <div class="col-6">
                <h2 class="text-center">Favorites</h2>
                <div class="d-flex justify-content-center align-items-center">
                    {% for fav in favorites %}
                    <a class="px-2" href="{% url 'animes:anime_details' fav.anime_id %}"><img src="{{ fav.image_url }}" alt="{{ fav }}"></a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-6">
                <h2 class="text-center">Watchlist</h2>
                <div class="d-flex justify-content-center">
                    {% for item in watchlist_items %}
                    <a href="{% url 'animes:anime_details' item.anime_id %}"><img src="{{ item.image_url }}" alt="{{ item }}"></a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}