{% extends 'base.html' %}

{% block content %}
<div class="container-fluid mt-2">
    <div class="d-flex flex-column align-items-center vw-100">
        <h1>My Watchlist</h1>
        <div class="d-flex justify-content-between w-100 ">

            <div class="row col text-center ">
                <div class="col col-md-4">
                    <h2>To watch</h2>
                    {% for item in watchlist_items %}
                        <a href="{% url 'animes:anime_details' item.anime_id %}"><img src="{{ item.image_url }}" alt="{{ item }}"></a>
                    {% endfor %}
                </div>
                <div class="col col-md-4">
                    <h2>Watching</h2>
                    {% for item in watchlist_items %}
                        <a href="{% url 'animes:anime_details' item.anime_id %}"><img src="{{ item.image_url }}" alt="{{ item }}"></a>
                    {% endfor %}
                </div>
                <div class="col col-md-4">
                    <h2>Watched</h2>
                    {% for item in watchlist_items %}
                        <a href="{% url 'animes:anime_details' item.anime_id %}"><img src="{{ item.image_url }}" alt="{{ item }}"></a>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}