.login-background {
    background-image: url('/static/images/login_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.register-background {
    background-image: url('/static/images/register_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    text-transform: uppercase;
}

.btn-watch {
    background-image: linear-gradient(90deg, hsla(330, 36%, 53%, 1) 0%, hsla(289, 68%, 19%, 1) 100%);
}

.btn-watched {
    background-image: linear-gradient(90deg, hsla(269, 97%, 37%, 1) 0%, hsla(320, 77%, 55%, 1) 57%, hsla(316, 41%, 93%, 1) 100%);
}

.btn-watch:hover, .btn-watched:hover {
    filter: hue-rotate(30deg);
    transition: filter 1s;
}