<div class="accordion d-flex flex-column flex-md-row mt-3" id="accordionExample">
    <div class="accordion-item col-12 col-md-6">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Synopsis
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" >
        <div class="accordion-body">
            {{ anime.synopsis }}
        </div>
      </div>
    </div>
    <div class="accordion-item col-12 col-md-6">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Seasons / OVA'S / Movies
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" >
        <div class="accordion-body">
            <div class="d-flex align-items-center justify-content-start">
              <h4 class="m-0 p-0 me-2">Episodes</h4>
              {% if is_on_watchlist == True or is_favorite == True %}
                {% if episodes_watched == anime.episodes %}
                <input type="checkbox" class="mt-1" name="episode" checked onclick="this.form.submit()" value="{{ range|last }}" id="watched_everything">
                {% else %}
                <form action="{% url 'animes:set_episodes' anime.mal_id %}" method="post">
                  {% csrf_token %}
                  <input type="checkbox" class="mt-1" name="episode"  onclick="this.form.submit()" value="{{ range|last }}" id="watched_everything">
                  <input type="hidden" name="is_favorite" value="{{ is_favorite }}"> <input type="hidden" name="is_on_watchlist" value="{{ is_on_watchlist }}">
                </form>
                {% endif %}
              {% endif %}
            </div>

            <ul style="list-style: none;" class="mt-1 p-0">
              {% for ep in range %}
                <form action="{% url 'animes:set_episodes' anime.mal_id %}" method="post">
                  {% csrf_token %}
                  <li>
                    {% if is_on_watchlist == True or is_favorite == True %}
                      {% if ep > episodes_watched %}
                        <input type="checkbox" name="episode" onclick="this.form.submit()" value="{{ ep }}" id="watched">
                      {% else %}
                        <input type="checkbox" checked name="episode-watched" onclick="this.form.submit()" value="{{ ep }}" id="not-watched">
                      {% endif %}
                    {% endif %}
                    Episode {{ ep }}
                  </li>
                  <input type="hidden" name="is_favorite" value="{{ is_favorite }}">
                  <input type="hidden" name="is_on_watchlist" value="{{ is_on_watchlist }}">
                </form>
                {% endfor %}
          </form>
          </ul>
          {% if anime.related.items %}
          <h4>Movies | Ova's</h4>
          {% endif %}
          {% for rel, v in anime.related.items %}  
            {% if rel == "Side story" %}
              <ul style="list-style: none;" class="mt-1 p-0">
                {% for r in v %}
                <li>
                  {% if is_on_watchlist == True or is_favorite == True %}
                  <input type="checkbox" name="episode" id="watched">
                  {% endif %}
                  {{ r.name }}
                </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
