{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top p-1">
  <div class="container-fluid w-100 h-100 fs-5">
    <a href="{% url 'animes:homepage' %}" class="navbar-brand fs-1"><span class="logo">AnimeHunter</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-block d-md-flex w-sm-100 m-auto">
      <form class="mt-2 mt-md-0 ms-2" action="{% url 'animes:search_animes' %}" method="GET">
        <div class="input-group rounded ">
          <input class="form-control form-control-sm rounded ms-3 fs-4 ms-md-0" name="query" type="search" placeholder="Search animes" aria-label="Search">
          <button class="btn input-group-append" type="image submit"><svg xmlns="http://www.w3.org/2000/svg" width="20" fill="#feddaa" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg></button>
        </div>
      </form>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-sm-auto">
        <li class="nav-item">
          <a href="{% url 'animes:top_animes' %}" class="nav-link link-secondary">Top Animes</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'animes:upcoming_animes' %}" class="nav-link link-secondary">Upcoming</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'animes:discover' %}" class="nav-link link-secondary">Discover</a>
        </li>
      </ul>
      <div class="d-flex">
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a href="{% url 'authentication:user_list' %}" class="nav-link link-secondary">Watchlist</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'authentication:favorites_list' %}" class="nav-link link-secondary">Favorites</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'authentication:logout' %}" class="nav-link link-secondary">Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a href="{% url 'authentication:login' %}" class="nav-link link-secondary">Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>


{% block content %}{% endblock content %}