{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="vh-100">
    <video autoplay muted loop id="homepage-video" poster="{% static '/images/poster.png' %}">
        <source src="{% static 'home.mp4' %}" type="video/mp4">
    </video>
    {% include 'navbar.html' %}
    <div class="container-fluid text-white w-100">
        <h1 class="text-center pt-4"> 
            Simplify and have fun with your anime watchlist
        </h1>
        <div class="d-flex flex-column h-100 w-100">
            <div class="mt-5">
                <img src="{% static 'images/page2.png' %}" onmouseenter="this.classList.add('iluminate')" class="w-50 home-img" alt="discover animes page">
            </div>

            <div class="mt-4" style="height: 80vh;">
                <div class="d-flex justify-content-center align-items-center h-100 w-100">
                    <div class="row w-100 m-auto">
                        <div class="card card-home me-0 me-md-2 h-0 col-12 col-md-5 col-lg-2 p-3 pb-4 m-auto">
                            <div class="header d-flex justify-content-center mt-0 mb-3 pt-3">
                                <a href="#favorites-page">
                                    <svg xmlns="http://www.w3.org/2000/svg" onmouseenter="this.style.fill = '#ffafcc'" width="120" class="bi bi-heart-fill icon" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                    </svg>
                                </a>
                            </div>
                            <div class="card-body text-center mt-0 mt-md-1">
                                <h3 style="opacity: 0.85;">Add animes to your Favorites and rank them in a <strong>Tier List</strong></h3>
                            </div>
                        </div>

                        
                        <div class="card card-home h-0 col-12 col-md-5 col-lg-2 p-0 m-auto ms-0 ms-md-2 mt-3 mt-md-0">
                            <div class="header d-flex justify-content-center mt-3 pt-1">
                                <a href="#watchlist-page">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="120" onmouseenter="this.style.fill = '#a2d2ff'" fill="currentColor" class="bi bi-clock-fill watch-icon m-1" viewBox="0 0 16 16">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                                    </svg>
                                </a>
                            </div>
                            <div style="opacity: 0.85;" class="card-body p-1 pb-3 text-center">
                                <h3>Manage your <strong>Watchlist</strong>:</h3>
                                <ul style="list-style-type: none;" class="p-0 fs-4">
                                    <li>To watch</li>
                                    <li>Watching</li>
                                    <li>Watched</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="vh-100" id="favorites-page">
                <div class="d-flex align-items-center h-100">
                    <img src="{% static 'images/page1.png' %}" onmouseenter="this.classList.add('iluminate')" class="w-50 home-img" alt="discover animes page">
                </div>
            </div>
            <div class="mt-5">
                <img src="{% static 'images/page3.png' %}" onmouseenter="this.classList.add('iluminate')" class="w-50 home-img" alt="discover animes page">
            </div>
        </div>
        
    </div>
    </div>
</div>
{% endblock content %}