{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="flyer-cards-container">
    {% include 'navbar.html' %}
    <div class="container-fluid pb-5">
        <div class="row m-3">
            {% for anime in animes %}
            <div class="col-md-3 col-lg-2 py-1">
                <a href="{% url 'animes:anime_details' anime.mal_id %}">
                    <div class="card-flyer mt-3">
                        <div class="image-box">
                            <img src="{{ anime.images.jpg.image_url }}" class="image-box img-fluid w-100" alt="{{anime.title}}">
                                <div class="hidden-card text-center position-absolute text-dark fs-3 fw-bold h-100 w-100" id="hidden-card">
                                    <div class="">{{ anime.title|truncatechars:42 }}</div>
                                    <div class="d-flex justify-content-center">
                                        <form action="{% url 'animes:add_favorite' anime.mal_id %}" method="post">
                                            {% csrf_token %}
                                            <button class="btn p-1" type="submit">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" class="bi bi-heart-fill icon m-1" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                                </svg>
                                            </button>
                                            <input type="hidden" name="name" value="{{ anime.title }}">
                                            <input type="hidden" name="image_url" value="{{ anime.images.jpg.image_url }}">
                                            <input type="hidden" name="episodes" value="{{ anime.episodes }}">
                                        </form>
                                        <form action="{% url 'animes:add_to_watchlist' anime.mal_id %}" method="post">
                                            {% csrf_token %}
                                            <button class="btn p-1" type="submit">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-clock-fill watch-icon m-1" viewBox="0 0 16 16">
                                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                                                </svg>
                                            </button>
                                            <input type="hidden" name="name" value="{{ anime.title }}">
                                            <input type="hidden" name="image_url" value="{{ anime.images.jpg.image_url }}">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="pagination col-3 mx-auto mt-5 mb-4 rounded-pill" style="z-index: 2;">
        <span class="step-links p-1">
            {% if animes.has_previous %}
                <a href="?page=1">&laquo; |</a>
                <a href="?page={{ animes.previous_page_number }}">&#8249;</a>
            {% endif %}
    
            <span class="current">
                {{ animes.number }} of {{ animes.paginator.num_pages }}
            </span>
    
            {% if animes.has_next %}
                <a href="?page={{ animes.next_page_number }}">&#8250;</a>
                <a class="color: #55ddee" href="?page={{ animes.paginator.num_pages }}">| &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

<script src="{% static '/js/script.js' %}"></script>
{% endblock content %}